.info-item__container {
  display: flex;
  align-items: center;
}

.info-item__image {
  margin-right: 5px;
}

.info-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;

}