.info-item__container {
  display: flex;
  align-items: center;
}

.info-item__image {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.info-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .info-item__image {
    width: 23px;
    height: 23px;
  }

  .info-item__text {
    font-size: 16px;
    line-height: 21px;
  }
}