.button {
  width: 117px;
  height: 40px;
  background-color: #0243EC;
  border-radius: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: background-color .7s ease-in-out;

  &:hover {
    background-color: #002583;
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}
