.photo-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: #DFEDFD;
  border-radius: 12px;
}